<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sol/admin_donation_complete_board.css" />
</head>
<body>
	<th:block layout:fragment="layout-content">
	
		<section class="auto-min-height">
        <div class="my-5">
            <h1 class="text-center">기부 완료 게시판 관리</h1>
        </div>
        <!-- 검색창 -->
        <div class="container">
                <div class="w-25 my-auto ms-auto me-3">
                    <form class="input-group">
                        <input type="text" class="form-control" placeholder="검색" />
                        <button
                        class="btn"
                        type="button"
                        style="background-color: #15C8A0; color: #fff"
                        >
                        검색
                        </button>
                 </form>
                </div>
            <div class="mx-auto my-5 p-3">
            <table class="table">
            <thead>
              <tr class="border-top ">
                <th>글번호</th>
                <th>글제목</th>
                <th>기부 기관 / 개인 명</th>
                <th>완료일자</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>글제목</td>
                <td>세이브더칠드런</td>
                <td>2023/02/22</td>
              </tr>
              <tr>
                <td>2</td>
                <td>글제목</td>
                <td>준수와아이들</td>
                <td>2023/02/22</td>
              </tr>
              <tr>
                <td>3</td>
                <td>글제목</td>
                <td>평화교회</td>
                <td>2023/02/22</td>
              </tr>
            </tbody>
          </table>
          </div>
         <div class="archive-pages">
                    <ul>
                        
                        <li class="previous"><a href="#" title="previous page"></a></li>
                        <li class="selected">1</li>
                        <li><a href="#" title="Pagina 2">2</a></li>
                        <li><a href="#" title="Pagina 3">3</a></li>
                        <li><a href="#" title="Pagina 4">4</a></li>
                        <li><a href="#" title="Pagina 5">5</a></li>
                        <li class="next"><a href="#" title="next page"></a></li>
                      </ul>
                </div>
            </div>
        </div>
    </section>

	</th:block>

	<th:block layout:fragment="script-bottom">
		<script src="/js/setAutoHeight.js"></script>
	</th:block>
</body>
</html>