<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8" />
	<script th:inline="javascript">

function page(page) {
	if( [[${searchDto.searchQuery}]] === ''){
		location.href = "/admin/memberList/" + page;
		}else{
			location.href = "/admin/memberList/" + page  + "?searchQuery=" +  [[${searchDto.searchQuery}]];
		}
}
	</script>
	</th:block>
	
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sol/admin_donation_complete_board.css" />
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section class="auto-min-height">
			<div class="my-5">
				<h1 class="text-center">회원 리스트</h1>
			</div>
			<!-- 검색창 -->
			<div class="container">
				<div class="w-25 my-auto ms-auto me-3">
					<form class="input-group" method="get" th:action="@{/admin/memberList/{page}(page=${page})}">
						<div th:object="${searchDto}" style="">
							<input type="text" class="form-control" placeholder="검색" th:field="*{searchQuery}" id="search" name="search"/>
							<button class="btn" type="submit" style="background-color: #15C8A0; color: #fff">검색</button>
						</div>
					</form>
				</div>
				<div class="mx-auto my-5 p-3">
					<table class="table" style="text-align: center">
						<thead>
							<tr class="border-top">
								<th>성명</th>
								<th>닉네임</th>
								<th>기업명</th>
								<th>가입일자</th>
							</tr>
						</thead>
						<tbody>
							<!-- each start -->
							<th:block th:each="member, status: ${members.getContent()}">
								<tr>
									<td>[[${member.name}]]</td>
									<td><span>[[${member.nickName}]]</span> <!-- "${{#strings.equals(member.role, T(com.sharingdonation.constant.Role).USER)}" -->
									</td>
									<td><span>[[${member.nickName}]]</span></td>
									<td>[[${member.regTime}]]</td>
								</tr>
							</th:block>
							<!-- each end -->
						</tbody>
					</table>
				</div>
			</div>
				<nav style="position: fixed; top: 700px; left: 800px;">
					<div class="archive-pages"
						th:with="start=${(members.number/maxPage) * maxPage + 1}
      , end=(${(members.totalPages== 0) ? 1 : (start + (maxPage - 1) < members.totalPages ? start + (maxPage -1) : members.totalPages)})">
						<ul>
							<li class="previous"
								th:classappend="${members.first}? 'disabled'"><a
								href="#" title="previous page"
								th:onclick="'javascript:page(' + ${members.number - 1} + ')'"></a></li>

							<li th:each="page: ${#numbers.sequence(start, end)}"
								th:classappend="${members.number eq page-1}?'active':''"><a
								class="page-link" th:inline="text"
								th:onclick="'javascript:page(' + ${page - 1}+ ')'">[[${page}]]</a>
							</li>

							<li class="next"
								th:classappend="${members.last}? 'disabled'"><a
								href="#" title="next page"
								th:onclick="'javascript:page(' + ${members.number + 1} + ')'"></a></li>
						</ul>
					</div>
				</nav>
		</section>
	</th:block>
	<th:block layout:fragment="script-bottom">
		<script src="/js/setAutoHeight.js"></script>
	</th:block>
</body>
</html>