<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/sol/admin_sharing_md_ctr.css" />
</head>
<body>
	<th:block layout:fragment="layout-content">
	
	<section class="auto-min-height">
        <div class="my-5">
            <h1 class="text-center">나눔 상품 관리</h1>
        </div>
          <!-- 검색창 -->
        <div class="container">
            <div class="row hstack">
                <div class="col-md-2 m-auto">
                    <select class="form-select admin_md_ctr_select" aria-label="Default select example">
                        <option selected>필터</option>
                        <option value="1">필터1</option>
                        <option value="2">필터2</option>
                        <option value="3">필터3</option>
                    </select>
                </div>
                <div class="col-md-8 my-auto">
                    <form class="input-group mx-auto">
                        <input type="text" class="form-control" placeholder="검색" />
                        <button
                        class="btn"
                        type="button"
                        style="background-color: #15C8A0; color: #fff"
                        >
                        검색
                        </button>
                 </form>
                </div>
                <div class="col-md-2 hstack">
                    <div class="mx-auto">
                        <button class="admin_md_ctr_btn mb-2">승인</button>
                        <button class="admin_md_ctr_btn mb-2">삭제</button>
                    </div>
                </div>
            </div>
            <div class="mx-auto my-5 p-3">
            <table class="table">
            <thead>
              <tr class="border-top">
                <th><input type="checkbox" name="" value="" /></th>
                <th>번호</th>
                <th>작성자</th>
                <th>글제목</th>
                <th>상품명</th>
                <th>신청일자</th>
                <th>게시기간</th>
                <th>진행상황</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="sharingDto, status : ${sharingDtoList}">
                <th><input type="checkbox" name="selected" th:value="${sharingDto.id}" /></th>
                <td>[[${status.index + 1}]]</td>
                <td>[[${sharingDto.authorName}]]</td>
                <td>[[${sharingDto.name}]]</td>
                <td>[[${sharingDto.categoryName}]]</td>
                <td>[[${sharingDto.regTime}]]</td>
                <td th:if="${sharingDto.startDate != null}">[[${sharingDto.startDate + '~' + sharingDto.endDate}]]</td>
                <td th:else="${sharingDto.startDate == null}">---</td>
                <td>
                	<button class="text-white border-0 status ms-auto mt-auto" th:classappend="${sharingDto.status == '완료'} ? 'status-gray' : (${sharingDto.status == '진행중'} ? 'status-green' : 'status-yellow')">[[${sharingDto.status}]]</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
         <div class="archive-pages">
                    <ul> 
                        <li class="previous"><a href="#" title="previous page"></a></li>
                        <li class="selected">1</li>
                        <li><a href="#" title="Pagina 2">2</a></li>
                        <li><a href="#" title="Pagina 3">3</a></li>
                        <li><a href="#" title="Pagina 4">4</a></li>
                        <li><a href="#" title="Pagina 5">5</a></li>
                        <li class="next"><a href="#" title="next page"></a></li>
                    </ul>
         </div>
        </div>
		</section>

	</th:block>

	<th:block layout:fragment="script-bottom">
		<script src="/js/setAutoHeight.js"></script>
	</th:block>
</body>
</html>