<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/story.css" rel="stylesheet"/>
<style>
	.story-link {
		
	}

	.story-link:hover {
		text-decoration: underline;
	}
</style>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section class="auto-min-height">

			<div class="section container" style="width: margin: 0 auto;">
				<div style="text-align: center; padding: 70px 0;">
					<h1>나눔상품 목록</h1>
				</div>
	
				
				<form name="searchFrm"
					style="width: 100%; height: 47px; display: flex; justify-content: flex-end; margin-bottom: 20px; padding-right: 20px;">
					<input type="search" id="searchInput" th:value="${searchTerm}"
						style="width: 355px; height: 47px; border: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);"
						placeholder="검색어를 입력하세요.">
					<input type="submit" id="searchBtn" value="검색"/>
				</form>


				<table class="table">
					<thead class="table-group-divider">
						<tr style="text-align: center;">
							<th scope="col" style="width: 70px;">번호</th>
							<th scope="col" style="width: 350px;">제목</th>
							<th scope="col" style="width: 120px;">상품명</th>
							<th scope="col" style="width: 120px;">작성자</th>
							<th scope="col" style="width: 150px;">신청일자</th>
							<th scope="col" style="width: 90px;">사연</th>
							<th scope="col" style="width: 110px;">진행사항</th>
						</tr>
					</thead>
					<tbody style="line-height: 50px;">
						<tr th:each="sharingStory, status : ${sharingStoryDtoList}">
							<td style="text-align: center;">[[${sharingStoryDtoList.totalElements - status.index - (sharingStoryDtoList.size * page)}]]</td>
							<td>
								<a class="story-link" th:href="@{/admin/story/id/{id}(id=${sharingStory.sharingId})}">
									<img
										th:src="${sharingStory.imgUrl}"
										th:alt="${sharingStory.imgUrl}"
										style="width: 50px; height: 50px; margin-right: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" 
									>
									[[${sharingStory.sharingName}]]
								</a>
							</td>

							<td style="text-align: center;" th:text="${sharingStory.areaName}">핸드폰</td>
							<td style="text-align: center;" th:text="${sharingStory.createdBy}">Writer</td>
							<td style="text-align: center;" th:text="${sharingStory.regDate}">2023-02-17</td>
							<td style="text-align: center;" th:text="${sharingStory.numOfStory}">0</td>
							<td style="text-align: center;">
								<a th:href="@{/admin/story/id/{id}(id=${sharingStory.sharingId})}">
									<div class="status w-100" th:classappend="${sharingStory.status == '완료'} ? 'status-gray' : (${sharingStory.status == '진행중'} ? 'status-green' : 'status-yellow')" th:text="${sharingStory.status}">승인대기</div>
								</a>
							</td>
						</tr>
 					</tbody>
				</table>

				<nav aria-label="Page navigation example" class="hstack mt-5" th:with="start=${(sharingStoryDtoList.number/maxPage)*maxPage + 1}, end=(${(sharingStoryDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < sharingStoryDtoList.totalPages ? start + (maxPage - 1) : sharingStoryDtoList.totalPages)})">
					<ul class="pagination mx-auto">
						<li class="page-item">
							<a class="page-link page-prev" th:href="${#httpServletRequest.requestURL + '?page=' + (sharingStoryDtoList.number-1)}" aria-label="Previous" th:classappend="${sharingStoryDtoList.number eq 0}?'disabled':''"> <span aria-hidden="true">&laquo;</span></a>
						</li>
						<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${sharingStoryDtoList.number eq page-1}?'active':''">
								 <a class="page-link page-num" th:inline="text" th:href="${#httpServletRequest.requestURL + '?page=' + (page - 1)}">[[${page}]]</a>
						</li>
						<li class="page-item">
							<a class="page-link page-next" th:href="${#httpServletRequest.requestURL + '?page=' + (sharingStoryDtoList.number+1)}" aria-label="Next" th:classappend="${sharingStoryDtoList.number+1 ge sharingStoryDtoList.totalPages}?'disabled':''">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>

				

			</div>


		</section>

	</th:block>

	<th:block layout:fragment="script-bottom">
		<script src="/js/setAutoHeight.js"></script>
		<script>
			document.searchFrm.addEventListener("submit", e => {
				e.preventDefault();
				search();
			});
			function search() {
				const searchTerm = document.getElementById("searchInput").value;
				location.href = "/admin/story/" + searchTerm;
			}
		</script>
	</th:block>
</body>
</html>