<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout2}"
>
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
<style>
	.sharing-link {
		color: var(--thm-primary);
	}

	.sharing-link:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
</style>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<div class="row row-cols-1 row-cols-lg-2">
			<!-- grid -->
			<div class="col" th:each="sharingDto: ${sharingDtoList.getContent()}">
				<div class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#storyModal" th:onclick="'getStoryDto(' + ${sharingDto.id} + ')'">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img th:src="${sharingDto.imgUrl}" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="sharing-img" style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">[[${sharingDto.name}]]</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">[[${sharingDto.regTime}]]</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">[[${sharingDto.categoryName}]]</p>
								<div class="vstack mt-auto">
									<div class="status ms-auto mt-auto" th:classappend="${sharingDto.status == '완료'} ? 'status-gray' : (${sharingDto.status == '진행중'} ? 'status-green' : 'status-yellow')">[[${sharingDto.status}]]</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<!-- pagination -->
			<nav aria-label="Page navigation example" class="hstack mt-5" th:with="start=${(sharingDtoList.number/maxPage)*maxPage + 1}, end=(${(sharingDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < sharingDtoList.totalPages ? start + (maxPage - 1) : sharingDtoList.totalPages)})">
				<ul class="pagination mx-auto">
					<li class="page-item">
						<a class="page-link" th:href="@{'/mypage/shared/' + ${sharingDtoList.number-1}}" aria-label="Previous" th:classappend="${sharingDtoList.number eq 0}?'disabled':''"> <span aria-hidden="true">&laquo;</span></a>
					</li>
					<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${sharingDtoList.number eq page-1}?'active':''">
						<a class="page-link" th:href="@{'/mypage/shared/' + ${page-1}}" th:inline="text">[[${page}]]</a>
					</li>
					<li class="page-item"><a class="page-link" th:href="@{'/mypage/shared/' + ${sharingDtoList.number+1}}"
						aria-label="Next" th:classappend="${sharingDtoList.number+1 ge sharingDtoList.totalPages}?'disabled':''"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
		
		<!--modal -->
		<div class="modal fade" id="storyModal" tabindex="-1" aria-labelledby="storyModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title fs-5" id="storyModalLabel">등록한 사연</h5>
						<span id="storyRegTime" class="ms-auto"></span>
						<button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
          	<textarea class="form-control" id="storyModalContent" rows="10" readonly disabled></textarea>
					</div>
					<div class="modal-footer">
						<a class="sharing-link align-middle me-auto">나눔 바로가기</a>
						<button type="button" class="btn btn-custom btn-custom-close" data-bs-dismiss="modal">닫기</button>
						<button type="button" id="editStoryBtn" class="btn btn-custom btn-custom-regist" data-bs-target="#storyFormModal" data-bs-toggle="modal">수정</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="storyFormModal" tabindex="-1" aria-labelledby="storyFormModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<form class="modal-content" name="storyFrm" th:action="@{/mypage/story/edit}" method="post">
					<input type="hidden" id="storyId" name="id" />
					<input type="hidden" id="memberId" name="memberId" />
					<div class="modal-header">
						<h5 class="modal-title fs-5" id="storyFormModalLabel">등록한 사연</h5>
						<span id="storyFormRegTime" class="ms-auto"></span>
						<button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
          	<textarea class="form-control" id="storyFormModalContent" name="content" rows="10"></textarea>
						<div class="hstack">
							<span id="textLength" class="ms-auto">0/300</span>
						</div>
					</div>
					<div class="modal-footer">
						<a class="sharing-link align-middle me-auto">나눔 바로가기</a>
						<button type="button" class="btn btn-custom btn-custom-close" data-bs-dismiss="modal">닫기</button>
						<button type="submit" id="updateStoryBtn" class="btn btn-custom btn-custom-regist">제출</button>
					</div>
				</form>
			</div>
		</div>
		
	</th:block>

	<th:block layout:fragment="script-bottom">
		<script src="/js/nsunf/adoptedShareList.js"></script>
	</th:block>
</body>
</html>