<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<link href="/css/story.css" rel="stylesheet" />

<th:block layout:fragment="script">
	<script th:inline="javascript">
 
function page(page) {

	location.href = "/mypage/story/" + [[${mypage.id}]] + "/" +page;
}
	</script>
	</th:block>
	
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section>
			<div class="section container" style="width: margin: 0 auto;">
				<div style="display: flex;">
					<div></div>
					<div class="mb-3 row"
						style="display: flex;">
						<!-- each -->

						<th:block
							th:each="item, status: ${myPageStoryListDto.getContent()}">
						 <a th:href="@{|/mypage/story/detail/${mypage.id}/${item.id}|}">
							<div class="col-12" >

								<div class="mb-3 form-check"
									style="background-color: #F0F5F4; height: 200px; width: 100%; border-radius: 10px; margin: 0; padding: 0; display: flex;">

									<img th:src="${item.imgUrl}" class="img-thumbnail"
										th:alt="${item.imgUrl}" style="width: 150px; height: 100%;">
									<div
										style="padding: 15px 0 0 10px; display: flex; flex-flow: column; justify-content: space-around;">
										<div style="width: 280px;">
											<span>[[${item.name}]] </span>
										</div>
										<div>
											<span>상품명 :[[${item.name}]]</span>
										</div>
										<div>
											<span>등록일 : [[${item.regTime}]]</span>
										</div>
									</div>

									<div class="form-floating align-self-center"
										style="padding: 0 5px;">
										<textarea class="form-control"
											placeholder="Leave a comment here" id="floatingTextarea2"
											style="height: 149px; width: 370px;" readonly>[[${item.content}]]</textarea>
										<label for="floatingTextarea2">사연</label>
									</div>	
									<!-- <div id="emailHelp" class="form-text">좋은 채택을 해주세요. </div> -->
								</div>

							</div>
							<!-- each -->
							</a>
						</th:block>


						<nav>
							<div class="archive-pages"
								th:with="start=${(myPageStoryListDto.number/maxPage) * maxPage + 1}
      , end=(${(myPageStoryListDto.totalPages== 0) ? 1 : (start + (maxPage - 1) < myPageStoryListDto.totalPages ? start + (maxPage -1) : myPageStoryListDto.totalPages)})">
								<ul>
									<li class="previous"
										th:classappend="${myPageStoryListDto.first}? 'disabled'"><a
										href="#" title="previous page"
										th:onclick="'javascript:page(' + ${myPageStoryListDto.number - 1} + ')'"></a></li>
									
									<li 
										th:each="page: ${#numbers.sequence(start, end)}"
										th:classappend="${myPageStoryListDto.number eq page-1}?'active':''"><a
										class="page-link" th:inline="text"
										th:onclick="'javascript:page(' + ${page - 1}+ ')'"
										>[[${page}]]</a>	
									</li>

									<li class="next"
										th:classappend="${myPageStoryListDto.last}? 'disabled'"><a
										href="#" title="next page"
										th:onclick="'javascript:page(' + ${myPageStoryListDto.number + 1} + ')'"></a></li>
								</ul>
							</div>

						</nav>
					</div>

				</div>


			</div>

		</section>
	</th:block>


</body>
</html>