<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous" />
	

<link href="/css/story.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
    
    
    
    
   
    function privacyUpdate() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/mypage/privacy/" + [[${mypage.id}]];
        var paramData = {
            nickName : $("#nickName").val(),
            zipCode : $("#sample4_postcode").val(),
            address : $("#sample4_roadAddress").val(),
            addressDetail :$("#sample4_detailAddress").val()
        };

        var param = JSON.stringify(paramData);

        $.ajax({
            url      : url,
            type     : "POST",
            contentType : "application/json",
            data     : param,
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
 
                alert("개인정보 수정이 완료 되었습니다.");
                /*
                location.href="/mypage/privacy/" + [[${mypage.id}]];
                */
                $("#nickName").val() = result.nickName;
                $("#sample4_postcode").val() = result.zipCode;
                $("#sample4_roadAddress").val() = result.address;
                $("#sample4_detailAddress").val() = result.addressDetail;
                
            },
            error : function(jqXHR, status, error){
                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/';
                } else{
                    alert(jqXHR.responseText);
                }
            }
        });
	}	
    
   
</script>



<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section>

			<div class="section container" style="width: margin: 0 auto;">

				<div style="display: flex; margin-top: 70px;">

			



					<div style="margin: 0 auto;">


						<!-- 상세 내용 div -->
						<input type="hidden"  id="mypageId" th:value="${mypage.id}">
						<div
							style="width: 780px; height: 556px; margin: 0 auto; padding: 0;">
							<table class="privacy-tbl"
								style="width: 100%; height: 100%; margin: 0;">
								<thead></thead>
								<tbody>
									<tr style="height: 80px;">
										<td style="display:flex; margin-top: 10px; width: 100%;">
										<div style="margin-left: 18px;">
											<div>
												 <label for="floatingEmptyPlaintextInput" style="color: #20C097;">이름</label>
											 </div>
											<div class="form-floating mb-3" style="width: 180px;">
												<input type="text" class="ad-field"
													id="floatingEmptyPlaintextInput" placeholder="" th:value="${mypage.name}"
													style="margin-top: 5px; width: 370px; outline: none;" readonly>
											</div>
										</div>
										
										<div style="margin-left: 196px;">
										<div>
												 <label for="floatingEmptyPlaintextInput" style="color: #20C097;">이메일</label>
											 </div>
											<div class="form-floating mb-3" style="width: 180px;">
												<input type="email" class="ad-field"
													id="floatingEmptyPlaintextInput" placeholder="" th:value="${mypage.email}"
													style="margin-top: 5px; width: 370px; outline: none;" readonly>
											</div>
											</div>
											</td>
									</tr>
									<tr>
										<td colspan="1">
										<div style="margin-left: 18px;">
											<div>
												 <label for="floatingEmptyPlaintextInput" style="color: #20C097;">생년원일</label>
											 </div>
											<div class="form-floating mb-0" style="width: 180px;">
												<input type="text" class="ad-field"
													id="floatingEmptyPlaintextInput" placeholder="" th:value="${mypage.birth}"
													style="margin-top: 5px; width: 370px; outline: none;" readonly>
											</div>
										</div>
											</td>

									</tr>
									<tr>
										<td colspan="1" style="padding-left: 18px;">
										<div>
												 <label for="nickName" style="color: #20C097;">닉네임</label>
											 </div>
											<div class="form-floating mb-3">
												<input type="text" class="ad-field privacyinput"
													id="nickName" placeholder=""
													style="margin-top: 5px;"  th:value="${mypage.nickName}">
											</div>
										</td>

									</tr>
									<tr>
										<td style="width: 100%; padding-left: 18px;">
											 <div>
												 <label for="floatingEmptyPlaintextInput" style="color: #20C097;">주소</label>
											 </div>
          										  <input type="text" class="ad-field privacyinput" id="sample4_postcode" placeholder="우편번호" style="width: 190px;" th:value="${mypage.zipCode}">
										            <input type="button" class="ad-btn privacyinput" style="background-color: #8D9391;" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
										            <input type="text" class="ad-field privacyinput" id="sample4_roadAddress" placeholder="도로명주소" style="width: 500px;" th:value="${mypage.address}">
										            <input type="hidden" class="ad-field privacyinput" id="sample4_jibunAddress" placeholder="지번주소">
										            <span id="guide"  style="color:#999;display:none"></span>
										        </br>
										            <input type="text" class="ad-field privacyinput" id="sample4_detailAddress" placeholder="상세주소" style="width: 500px;" th:value="${mypage.addressDetail}">
										            <input type="hidden" class="ad-field privacyinput" id="sample4_extraAddress" placeholder="참고항목">
										</td>
										

									</tr>
									<tr>
										<td colspan="1" style="text-align: center;">
										<button type="button" value="저장" class="submit-btn" onclick="privacyUpdate()">저장</button>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
						
					</div>
				</div>

			</div>


		</section>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
		

</body>
</html>