<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout2}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/story.css" rel="stylesheet" />
 <style>
.battery {
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}

.battery-0 {
  background-image: url("/images/nsunf/charge=0.png");
}

.battery-25 {
  background-image: url("/images/nsunf/charge=25.png");
}

.battery-50 {
  background-image: url("/images/nsunf/charge=50.png");
}

.battery-75 {
  background-image: url("/images/nsunf/charge=75.png");
}

.battery-100 {
  background-image: url("/images/nsunf/charge=100.png");
}
</style>
</head>
<body>


	<th:block layout:fragment="layout-content">
	
		<section>

		<form> 
			<!-- 상세 내용 div -->
				<div style="width: 780px; height: 800px;  margin: 0 auto;">
					<div style="display: flex;">
						<div style="display: flex; height: 800px; margin-right: 10px;" class="flex-column">
						
							<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
								<div style="padding: 15px 0 0 15px;  background-color: #15C8A0; font-size: 20px;">포인트</div>
								<div class="card-body" style=" background-color: #15C8A0;">
									<p class="card-text" style="text-align: right; padding-top: 70px; font-size: 30px;">[[${mypage.point}]]</p>
								</div>
							</div>
							
							<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
								<div style="padding: 15px 0 0 15px;  background-color: #F0F5F4; font-size: 20px; color: black;">나눔 등록</div>
								<div class="card-body" style=" background-color: #F0F5F4;">
									<p class="card-text" style="text-align: right; padding-top: 70px; font-size: 30px;color: black;">[[${mypage.share_reg}]]건</p>
								</div>
							</div>
							
							<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
								<div style="padding: 15px 0 0 15px;  background-color: #15C8A0; font-size: 20px;">기부신청</div>
								<div class="card-body" style=" background-color: #15C8A0;">
									<p class="card-text" style="text-align: right; padding-top: 70px; font-size: 30px;">[[${mypage.share_apply}]]건</p>
								</div>
							</div>
						</div>
						<div style="display: flex;" class="flex-column">
								<!-- 
								<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
									<div style="padding: 15px 0 0 15px;  background-color: #F0F5F4; font-size: 20px; color: black;">에너지</div>
									<div class="card-body" style=" background-color: #F0F5F4;">
										<p class="card-text" style="text-align: right;"><img class="battery-25" src="" alt="..." style=" width: 46px; height: 80px; margin-top: 35px;"></p>
									</div>
								</div>
								  -->
								 
							<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
								<div style="padding: 15px 0 0 15px;  background-color: #15C8A0; font-size: 20px;">받은나눔</div>
								<div class="card-body" style=" background-color: #15C8A0;">
									<p class="card-text" style="text-align: right; padding-top: 70px; font-size: 30px;">[[${mypage.share_take}]]건</p>
								</div>
							</div>
							
							<div class="card text-bg-primary mb-3" style="width: 380px; height: 184px; background-color: #F0F5F4; border-style: none;">
								<div style="padding: 15px 0 0 15px;  background-color: #F0F5F4; font-size: 20px; color: black;">사연내역</div>
								<div class="card-body" style=" background-color: #F0F5F4;">
									<p class="card-text" style="text-align: right; padding-top: 70px; font-size: 30px; color: black;">[[${mypage.share_story}]]건</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</form>
		</section>
	</th:block>

	<th:block layout:fragment="script-bottom">
	</th:block>
</body>
</html>