<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<link href="/css/story.css" rel="stylesheet" />

<th:block layout:fragment="script">
	<script th:inline="javascript">
 
function page(page) {

	location.href = "/mypage/story/" +page;
}
	</script>
	</th:block>
	
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section class="section container">
			<!-- <div class="section container" style="margin: 0 auto;"> -->
				<!-- <div style="display: flex;"> -->
					<div class="mb-3 row">
						

						<!-- story list 빈값일 떄 출력 -->
						<div class="col-12" th:if="${#lists.isEmpty(myPageStoryListDto.getContent())}">
							<div class="d-flex justify-content-center mb-3 form-check m-0 p-0 w-100" style="height: 200px; border-radius: 10px;">
								<strong>등록 된 사연이 없습니다.</strong>
							</div>
						</div>
						
						<!-- each -->
						<th:block	th:each="item, status: ${myPageStoryListDto.getContent()}">
							<a class="card mb-3" th:href="@{/mypage/story/detail/{id}(id=${item.id})}" style="max-width: 100%; height: 200px; background: #F0F5F4;">
								<div class="row g-0 h-100">
									<div class="col-md-4 px-0 h-100">
										<img th:src="${item.imgUrl}" class="img-fluid rounded-start object-fit-cover h-100 w-100" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body h-100 px-0 hstack">
											<div class="vstack w-50">
												<h5 class="card-title mb-auto">[[${item.name}]]</h5>
												<p class="card-text"><small class="text-muted">등록일 : [[${item.regTime}]]</small></p>
											</div>
											<div class="form-floating h-100">
												<textarea id="floatingTextArea2" class="form-control h-100" style="resize: none;" readonly>
													[[${item.content}]]
												</textarea>
												<label for="floatingTextarea2">사연</label>
											</div>
										</div>
									</div>
								</div>
							</a>							

						</th:block>
						<!-- each -->

<!--  /*
							*/ -->

						<nav>
							<div class="archive-pages"
								th:with="start=${(myPageStoryListDto.number/maxPage) * maxPage + 1}
      , end=(${(myPageStoryListDto.totalPages== 0) ? 1 : (start + (maxPage - 1) < myPageStoryListDto.totalPages ? start + (maxPage -1) : myPageStoryListDto.totalPages)})">
								<ul>
									<li class="previous"
										th:classappend="${myPageStoryListDto.first}? 'disabled'"><a
										href="#" title="previous page"
										th:onclick="'javascript:page(' + ${myPageStoryListDto.number - 1} + ')'"></a></li>
									
									<li 
										th:each="page: ${#numbers.sequence(start, end)}"
										th:classappend="${myPageStoryListDto.number eq page-1}?'active':''"><a
										class="page-link" th:inline="text"
										th:onclick="'javascript:page(' + ${page - 1}+ ')'"
										>[[${page}]]</a>	
									</li>

									<li class="next"
										th:classappend="${myPageStoryListDto.last}? 'disabled'"><a
										href="#" title="next page"
										th:onclick="'javascript:page(' + ${myPageStoryListDto.number + 1} + ')'"></a></li>
								</ul>
							</div>

						</nav>
					</div>

				<!-- </div> -->


			<!-- </div> -->

		</section>
	</th:block>


</body>
</html>