<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout2}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<div class="row row-cols-1 row-cols-lg-2">
			<!-- grid -->
			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-yellow ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-yellow ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-yellow ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-yellow ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-gray ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a class="card mb-3" href="#" style="max-width: 540px; background: #F0F5F4;">
					<div class="row g-0">
						<div class="col-md-4 p-0">
							<img src="https://picsum.photos/id/483/720/360" class="img-fluid w-100 h-100 rounded-start object-fit-cover" alt="..." style="aspect-ratio: 3/4;">
						</div>
						<div class="col-md-8 ps-0">
							<div class="card-body vstack h-100">
								<div class="hstack align-middle">
									<h5 class="card-title text-black fs-5">Card title</h5>
									<p class="card-text text-black fs-6 fw-normal ms-auto">yyyy-mm-dd</p>
								</div>
								<p class="card-text text-black fs-6 fw-normal">나눔 카테고리</p>
								<div class="vstack mt-auto">
									<div class="status status-green ms-auto mt-auto">진행중</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			
		</div>
		<div class="row">
			<!-- pagination -->
			<nav aria-label="Page navigation example" class="hstack mt-5">
				<ul class="pagination mx-auto">
					<li class="page-item">
						<a class="page-link disabled" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</th:block>

	<th:block layout:fragment="script-bottom">
	</th:block>
</body>
</html>