<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout2}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/story.css" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="layout-content">
		<div class="mb-3 row" style="display: flex; justify-content: center;">
			<!-- each -->
			<div class="col-10">

				<div class="mb-3 form-check"
					style="background-color: #F0F5F4; height: 200px; width: 780px; border-radius: 10px; margin: 0; padding: 0; display: flex; ">

					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoC9HzzsvJwl4UPdn6fan8H1P2zxgknfHGCcmQMxRA54QAWk2skELHJIUfs4HspsNl9Ws&usqp=CAU" class="img-thumbnail" alt="..."
					style="width: 150px; height: 100%;">
					<div style="padding: 15px 0 0 10px; display: flex; flex-flow: column; justify-content: space-around;">
						 <div style="width: 280px;"><span>(서울시 은평구)장롱 나눔 합니다.</span></div>
						 <div ><span>상품명 : 장롱</span></div>
						 <div ><span>등록일 : 2023-02-21</span></div>
					</div>

					<div class="form-floating align-self-center" style="padding: 0 5px;">
						<textarea class="form-control"
							placeholder="Leave a comment here" id="floatingTextarea2"
							style="height: 149px; width: 320px;" readonly>사연사연입니다</textarea>
						<label for="floatingTextarea2">사연</label>
					</div>
					<!-- <div id="emailHelp" class="form-text">좋은 채택을 해주세요. </div> -->
				</div>

			</div>
			<!-- each -->
			
			
			<!-- each -->
			<div class="col-10">

				<div class="mb-3 form-check"
					style="background-color: #F0F5F4; height: 200px; width: 780px; border-radius: 10px; margin: 0; padding: 0; display: flex; ">

					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoC9HzzsvJwl4UPdn6fan8H1P2zxgknfHGCcmQMxRA54QAWk2skELHJIUfs4HspsNl9Ws&usqp=CAU" class="img-thumbnail" alt="..."
					style="width: 150px; height: 100%;">
					<div style="padding: 15px 0 0 10px; display: flex; flex-flow: column; justify-content: space-around;">
						 <div style="width: 280px;"><span>(서울시 은평구)장롱 나눔 합니다.</span></div>
						 <div ><span>상품명 : 장롱</span></div>
						 <div ><span>등록일 : 2023-02-21</span></div>
					</div>

					<div class="form-floating align-self-center" style="padding: 0 5px;">
						<textarea class="form-control"
							placeholder="Leave a comment here" id="floatingTextarea2"
							style="height: 149px; width: 320px;" readonly>사연사연입니다</textarea>
						<label for="floatingTextarea2">사연</label>
					</div>
					<!-- <div id="emailHelp" class="form-text">좋은 채택을 해주세요. </div> -->
				</div>

			</div>
			<!-- each -->
			
			
			<!-- each -->
			<div class="col-10">

				<div class="mb-3 form-check"
					style="background-color: #F0F5F4; height: 200px; width: 100%; border-radius: 10px; margin: 0; padding: 0; display: flex; ">

					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoC9HzzsvJwl4UPdn6fan8H1P2zxgknfHGCcmQMxRA54QAWk2skELHJIUfs4HspsNl9Ws&usqp=CAU" class="img-thumbnail" alt="..."
					style="width: 150px; height: 100%;">
					<div style="padding: 15px 0 0 10px; display: flex; flex-flow: column; justify-content: space-around;">
						 <div style="width: 280px;"><span>(서울시 은평구)장롱 나눔 합니다.</span></div>
						 <div ><span>상품명 : 장롱</span></div>
						 <div ><span>등록일 : 2023-02-21</span></div>
					</div>

					<div class="form-floating align-self-center" style="padding: 0 5px;">
						<textarea class="form-control"
							placeholder="Leave a comment here" id="floatingTextarea2"
							style="height: 149px; width: 370px;" readonly>사연사연입니다</textarea>
						<label for="floatingTextarea2">사연</label>
					</div>
					<!-- <div id="emailHelp" class="form-text">좋은 채택을 해주세요. </div> -->
				</div>

			</div>
			<!-- each -->
					

			<nav>
				<ul class="pagination justify-content-center" style="margin-top: 10px;">
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</th:block>

	<th:block layout:fragment="script-bottom">
	</th:block>
</body>
</html>