.table-member-list {
  display: flex;
  float: right;
}

.member-list-bnt {
  background-color: white !important;
  color: black !important;
  border: 1px solid #15c8a0 !important;
  border-radius: 3px;
}
