<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<!--Site Footer One Start-->
		<footer th:fragment="footer">
			<!--  <div class="site-footer-bg" style="background-image: url(assets/images/backgrounds/footer-bg.jpg)"></div> -->
			<div class="container-fluid px-0">
				<div class="site-footer pt-0" style="margin-top: 0;">
					<div class="row" style="background: #191C26;">
						<div class="col-xl-12">
							<div class="site-footer__bottom-inner me-5">

								<div class="site-footer__bottom-logo-social">
									<div class="site-footer__bottom-logo">
										<a href="index.html"><img
											src="/img/footer-logo.jpg" alt=""></a>
									</div>
									<div class="ms-5">
										<p class="m-0">
											this is footer, just footer.
										</p>
									</div>
<!-- 
									<div class="site-footer__bottom-social">
										<a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i
											class="fab fa-facebook-square"></i></a> <a href="#"><i
											class="fab fa-dribbble"></i></a> <a href="#"><i
											class="fab fa-instagram"></i></a>
									</div>
									-->
								</div>

								<div class="site-footer__bottom-copy-right">
									<p>
										© Copyright 2021 By <a href="http://www.bootstrapmb.com/">bootstrapmb</a>
									</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--Site Footer One End-->
</body>
</html>