<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>header</title>
  </head>
  <body>
    <header
      th:fragment="header"
      class="main-header clearfix"
      style="height: 64px"
    >
      <div
        class="main-header__logo p-0 h-100 d-flex justify-content-center align-items-center"
      >
        <a href="index.html">
          <img src="/images/logo-1.png" alt="" />
        </a>
      </div>

      <div class="main-menu-wrapper h-100 vstack">
        <div class="main-menu-wrapper__bottom my-auto">
          <nav class="main-menu">
            <div class="main-menu__inner">
              <a href="#" class="mobile-nav__toggler"
                ><i class="fa fa-bars"></i
              ></a>

              <ul class="main-menu__list">
								<!-- 일반 -->
                <li class="dropdown current">
                  <a href="index.html">나눔</a>
                  <ul>
                    <li><a href="#">전체</a></li>
                    <li><a href="#">가전</a></li>
                    <li><a href="#">생활</a></li>
                    <li><a href="#">유아</a></li>
                    <li><a href="#">의류</a></li>
                    <li><a href="#">스포츠</a></li>
                    <li><a href="#">도서</a></li>
                    <li><a href="#">취미</a></li>
                    <li><a href="#">기타</a></li>
                  </ul>
                </li>
                <li><a href="#">기부</a></li>
                <li><a href="#">나눔 인증 게시판</a></li>
                <li><a href="#">기부 완료 게시판</a></li>

								<!-- 관리자 -->
                <!-- <li class="text-center current"><a href="#">회원<br/>관리</a></li>
                <li class="text-center"><a href="#">나눔상품<br/>관리</a></li>
                <li class="text-center"><a href="#">사연<br/>관리</a></li>
                <li class="text-center"><a href="#">기부<br/>관리</a></li>
                <li class="text-center"><a href="#">카테고리<br/>관리</a></li>
                <li class="text-center"><a href="#">지역<br/>관리</a></li>
                <li class="text-center"><a href="#">좋아요<br/>관리</a></li>
                <li class="text-center"><a href="#">기부<br/>포인트</a></li> -->
              </ul>

              <div class="main-menu__right">
                <a href="/auth/signupNormal">username</a>
                <a href="causes-details.html" class="logout-btn py-1 px-2">signout</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
