<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>나눔 상품 등록/수정</title>
<link rel="stylesheet" href="/css/nsunf/editShare.css">
</head>
<body>
	<th:block layout:fragment="layout-content">
	
		<section class="banner d-flex justify-content-center align-items-center">
			<h2 class="banner__title">나눔 상품 등록</h2>
		</section>

		<section class="my-5">
			<form class="container" th:action="@{/sharing/create}" method="post" th:object="${sharingFormDto}" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}">
				<div class="row">
				 <div class="col-8 mx-auto">
				 <label class="input-label">나눔 지역</label>
				 <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" th:field="*{areaId}">
						<option value=" " selected>지역을 선택해주세요.</option>
						<option th:each="areaDto: ${areaDtoList}" th:value="${areaDto.id}">[[${areaDto.gugun}]]</option>
					</select>
					<p class="text-danger fw-normal" th:if="${#fields.hasErrors('areaId')}" th:errors="*{areaId}"></p>

					<label class="input-label w-100" for="">
						<span class="d-block ms-2 mb-1">나눔 물품명</span>
						<input class="input-box w-100 p-3" type="text" th:field="*{name}" placeholder="나눔 물품명">
						<p class="text-danger fw-normal" th:errors="*{name}"></p>
					</label>

					<label class="input-label w-100" for="">
						<span class="d-block ms-2 mb-1">나눔 상세 설명</span>
						<textarea class="input-box w-100 p-3" type="text" th:field="*{content}" placeholder="나눔 물품 상세 설명"></textarea>
						<p class="text-danger fw-normal" th:errors="*{content}"></p>
					</label>

					<label class="input-label w-100">
						<span class="d-block ms-2 mb-1">물품 사진 등록</span>
						<input class="img-input w-100" type="file" name="sharingImgFileList" accept="image/*" multiple>
					</label>
				 </div>
				</div>

				<div class="row mt-5">
					<div class="col-8 mx-auto">미리보기
						<div class="img-preview-list row row-cols-4 g-4">
<!-- 							<div class="col">
								<img class="preview-img" src="https://picsum.photos/id/237/720/480" alt="">
							</div>
 -->						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-8 mx-auto hstack">
						<button class="custom-btn custom-btn-del ms-auto">삭제</button>
						<button class="custom-btn ms-3">수정</button>
						<button class="custom-btn ms-3" type="submit">요청 제출</button>
					</div>
				</div>
			</form>
		</section>

	</th:block>

	<th:block layout:fragment="script-bottom">
	<script src="/js/imgInputPreview.js"></script>
	</th:block>
</body>
</html>