<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>나눔</title>
<!-- sharing_board css -->
<link
	rel="stylesheet"
	href="/css/sol/sharing_board.css"
/>
</head>
<body>
	<th:block layout:fragment="layout-content">
		<th:block>
		<section class="page-header">
        <div
          class="page-header__bg"
          style="
            background-image: url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');
          "
        ></div>
        <!-- /.page-header__bg -->
        <div class="container">
          <h2 class="text-center sharing_board_title">나눔리스트</h2>
        </div>
      </section>
      <!-- 검색창 -->
      <section class="causes-one causes-page pt-5 pb-3 vstack">
        <div class="m-5">
          <form class="input-group mb-3 w-25 mx-auto">
            <input type="text" class="form-control" placeholder="검색" />
            <button
              class="btn"
              type="button"
              style="background-color: #15C8A0; color: #fff"
            >
              검색
            </button>
          </form>
        </div>
        <!-- 나눔상품 게시글 -->
        <div class="container pt-5">
        	<div class="row hstack">
        		<div class="col-2 mb-5 ms-auto">
							<a class="btn" href="/sharing/create" style="background: var(--thm-primary); color: white;">나눔 등록</a>
        		</div>
        	</div>
          <div class="row g-5 row-cols-auto">
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!--Causes Page Single-->
              <div class="causes-one__single">
                <div class="causes-one__img">
                  <div class="causes-one__img-box">
                    <img src="https://picsum.photos/200/180" alt="" />
                    <a href="causes-details.html">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="causes-one__content">
                  <div class="hstack">
                    <span class="causes-one__title mb-0">
                      <a class="" href="causes-details.html">나눔물품명</a>
                    </span>
                    <span class="ms-auto">지역</span>
                  </div>
                  <p class="causes-one__text mt-2">닉네임</p>
                </div>
                <div
                  class="causes-one__progress"
                  style="background-color: #fff"
                >
                  <div class="causes-one__goals">
                    <p class="mb-2">2023.02.16~2023.03.16</p>
                  </div>
                  <div class="hstack">
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn me-auto rounded-pill"
                    >
                      진행중
                    </button>
                    <button
                      type="button"
                      class="btn pt-1 pb-1 thm-btn ms-auto rounded-pill"
                    >
                      좋아요
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="archive-pages">
                    <ul>
                        <li class="previous"><a href="#" title="previous page"></a></li>
                        <li class="selected">1</li>
                        <li><a href="#" title="Pagina 2">2</a></li>
                        <li><a href="#" title="Pagina 3">3</a></li>
                        <li><a href="#" title="Pagina 4">4</a></li>
                        <li><a href="#" title="Pagina 5">5</a></li>
                        <li class="next"><a href="#" title="next page"></a></li>
                      </ul>
                    </div>
      </div>
      </section>
		</th:block>
	</th:block>
</body>
</html>