<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>나눔 완료 게시판</title>
<link rel="stylesheet" href="/css/sol/sharing_board.css" />
</head>
<body>
	<th:block layout:fragment="layout-content">
		<section class="page-header">
			<div class="page-header__bg"
				style="background-image: url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3270&amp;q=80');"></div>
			<!-- /.page-header__bg -->
			<div class="container">
				<h2 class="text-center sharing_board_title">나눔 완료</h2>
			</div>
		</section>
		<!-- 검색창 -->
		<section class="news-page pt-5 pb-3 vstack">
			<div class="m-5">
				<form class="input-group mb-3 w-25 mx-auto my-4">
					<input type="text" class="form-control" placeholder="검색" />
					<button class="btn" type="button"
						style="background-color: #15c8a0; color: #fff">검색
					</button>
				</form>
			</div>
			<div class="row hstack">
				<div class="col-2 mb-5 ms-auto">
					<a class="btn" href=""
						style="background: var(--thm-primary); color: white;">게시글 등록</a>
				</div>
			</div>
			<!-- 나눔완료 게시글 -->
			<div class="container">
				<div class="row g-5 row-cols-auto">
					<th:block th:each="sharedPost, status: ${sharingBoardList}">
						<div class="col-4">
						<div class="news-two__single">
							<div class="news-two__img-box">
								<div class="news-two__img">
									<img src="https://picsum.photos/200/170" alt="사진" /> <a
										href="news-details.html"> <i class="fa fa-plus"></i>
									</a>
								</div>
								<div class="news-two__date">
									<p th:text="${sharedPost.reg_time}"></p>
								</div>
							</div>
							<div class="news-two__content">
								<ul class="list-unstyled news-two__meta">
									<li><i class="far fa-user-circle"></i> Admin</li>
									<li><span>/</span></li>
									<li><i
											class="far fa-comments"></i> 10 Comments</li>
								</ul>
									<a th:href="'/sharing_board/view/'+${sharedPost.id}"><h3 th:text="${sharedPost.subject}"></h3></a>
								<p th:text="${sharedPost.content}" class="news-two__text">
								</p>
							</div>
						</div>
					</div>
					</th:block>
				</div>
				<div class="archive-pages">
					<ul>
						<li class="previous"><a href="#" title="previous page"></a></li>
						<li class="selected">1</li>
						<li><a href="#" title="Pagina 2">2</a></li>
						<li><a href="#" title="Pagina 3">3</a></li>
						<li><a href="#" title="Pagina 4">4</a></li>
						<li><a href="#" title="Pagina 5">5</a></li>
						<li class="next"><a href="#" title="next page"></a></li>
					</ul>
				</div>
			</div>
		</section>
	</th:block>
	<th:block layout:fragment="script-bottom">
	</th:block>
</body>
</html>