<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>기부 리스트</title>
<link rel="stylesheet" href="/css/longsiru/donated-board-list.css"/>
<link rel="stylesheet" href="/css/longsiru/donation-list.css"/>
</head>
<body>
	<th:block layout:fragment="layout-content">
	
	<!--Page Header Start-->
  <section class="page-header">
    <div
      class="page-header__bg"
      style="
        background-image: url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');
      "
    ></div>
    <!-- /.page-header__bg -->
    <div class="container" >
      <h2 class="text-center sharing_board_title">기부 리스트</h2>
    </div>
  </section>
<!--Page Header End-->



  <!-- 검색창 -->
  <section class="causes-one causes-page pt-5 pb-3 vstack">
    <div class="m-5">
      <form class="input-group mb-3 w-25 mx-auto">
        <input type="text" class="form-control" placeholder="검색" />
        <button
          class="btn"
          type="button"
          style="background-color: #20c097; color: #fff"
        >
          검색
        </button>
      </form>
    </div>
    <!-- 기부 리스트 카드 -->
    <div class="container pt-5">
      <div class="row g-5 row-cols-auto">
        <div class="col">
          <!--Causes Page Single-->
          <div class="causes-one__single">
            <div class="causes-one__img">
              <div class="causes-one__img-box">
                <img src="/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                <a href="causes-details.html">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
            <div class="causes-one__content">
              <div class="hstack">
                <span class="causes-one__title mb-0">
                  <a class="" href="causes-details.html">기부 주제</a>
                </span>
              </div>
              <p class="causes-one__text mt-2">기부 기관/개인 명</p>
            </div>
            <div
              class="causes-one__progress"
              style="background-color: #fff; padding: 25px 25px 21px !important;"
            >
              <div class="causes-one__goals">
                <p class="mb-2">2023.02.16~2023.03.16</p>
              </div>
              <div class="hstack">
                <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
              </div>
            </div>
            <div class="causes-one__progress">
                <div class="bar">
                    <div class="bar-inner count-bar" data-percent="36%">
                        <div class="count-text">36%</div>
                    </div>
                </div>
                <div class="causes-one__goals">
                    <p>0%</p>
                    <p>100%</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
            <!--Causes Page Single-->
            <div class="causes-one__single">
              <div class="causes-one__img">
                <div class="causes-one__img-box">
                  <img src="/src/main/resources/static/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                  <a href="causes-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="causes-one__content">
                <div class="hstack">
                  <span class="causes-one__title mb-0">
                    <a class="" href="causes-details.html">기부 주제</a>
                  </span>
                </div>
                <p class="causes-one__text mt-2">기부 기관/개인 명</p>
              </div>
              <div
                class="causes-one__progress"
                style="background-color: #fff; padding: 25px 25px 21px !important;"
              >
                <div class="causes-one__goals">
                  <p class="mb-2">2023.02.16~2023.03.16</p>
                </div>
                <div class="hstack">
                  <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                  <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="../../static/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
                </div>
              </div>
              <div class="causes-one__progress">
                  <div class="bar">
                      <div class="bar-inner count-bar" data-percent="36%">
                          <div class="count-text">36%</div>
                      </div>
                  </div>
                  <div class="causes-one__goals">
                      <p>0%</p>
                      <p>100%</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!--Causes Page Single-->
            <div class="causes-one__single">
              <div class="causes-one__img">
                <div class="causes-one__img-box">
                  <img src="/src/main/resources/static/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                  <a href="causes-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="causes-one__content">
                <div class="hstack">
                  <span class="causes-one__title mb-0">
                    <a class="" href="causes-details.html">기부 주제</a>
                  </span>
                </div>
                <p class="causes-one__text mt-2">기부 기관/개인 명</p>
              </div>
              <div
                class="causes-one__progress" 
                style="background-color: #fff; padding: 25px 25px 21px !important;"
              >
                <div class="causes-one__goals">
                  <p class="mb-2">2023.02.16~2023.03.16</p>
                </div>
                <div class="hstack">
                  <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                  <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="../../static/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
                </div>
              </div>
              <div class="causes-one__progress">
                  <div class="bar">
                      <div class="bar-inner count-bar" data-percent="36%">
                          <div class="count-text">36%</div>
                      </div>
                  </div>
                  <div class="causes-one__goals">
                      <p>0%</p>
                      <p>100%</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col">
            <!--Causes Page Single-->
            <div class="causes-one__single">
              <div class="causes-one__img">
                <div class="causes-one__img-box">
                  <img src="/src/main/resources/static/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                  <a href="causes-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="causes-one__content">
                <div class="hstack">
                  <span class="causes-one__title mb-0">
                    <a class="" href="causes-details.html">기부 주제</a>
                  </span>
                </div>
                <p class="causes-one__text mt-2">기부 기관/개인 명</p>
              </div>
              <div
                class="causes-one__progress"
                style="background-color: #fff; padding: 25px 25px 21px !important;"
              >
                <div class="causes-one__goals">
                  <p class="mb-2">2023.02.16~2023.03.16</p>
                </div>
                <div class="hstack">
                  <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                  <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="../../static/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
                </div>
              </div>
              <div class="causes-one__progress">
                  <div class="bar">
                      <div class="bar-inner count-bar" data-percent="36%">
                          <div class="count-text">36%</div>
                      </div>
                  </div>
                  <div class="causes-one__goals">
                      <p>0%</p>
                      <p>100%</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!--Causes Page Single-->
            <div class="causes-one__single">
              <div class="causes-one__img">
                <div class="causes-one__img-box">
                  <img src="/src/main/resources/static/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                  <a href="causes-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="causes-one__content">
                <div class="hstack">
                  <span class="causes-one__title mb-0">
                    <a class="" href="causes-details.html">기부 주제</a>
                  </span>
                </div>
                <p class="causes-one__text mt-2">기부 기관/개인 명</p>
              </div>
              <div
                class="causes-one__progress"
                style="background-color: #fff; padding: 25px 25px 21px !important;"
              >
                <div class="causes-one__goals">
                  <p class="mb-2">2023.02.16~2023.03.16</p>
                </div>
                <div class="hstack">
                  <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                  <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="../../static/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
                </div>
              </div>
              <div class="causes-one__progress">
                  <div class="bar">
                      <div class="bar-inner count-bar" data-percent="36%">
                          <div class="count-text">36%</div>
                      </div>
                  </div>
                  <div class="causes-one__goals">
                      <p>0%</p>
                      <p>100%</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!--Causes Page Single-->
            <div class="causes-one__single">
              <div class="causes-one__img">
                <div class="causes-one__img-box">
                  <img src="/src/main/resources/static/images/longsiru/mong1.jpg" alt="" style="width: 280px; height: 250px;"/>
                  <a href="causes-details.html">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="causes-one__content">
                <div class="hstack">
                  <span class="causes-one__title mb-0">
                    <a class="" href="causes-details.html">기부 주제</a>
                  </span>
                </div>
                <p class="causes-one__text mt-2">기부 기관/개인 명</p>
              </div>
              <div
                class="causes-one__progress"
                style="background-color: #fff; padding: 25px 25px 21px !important;"
              >
                <div class="causes-one__goals">
                  <p class="mb-2">2023.02.16~2023.03.16</p>
                </div>
                <div class="hstack">
                  <div><button type="button" class="btn pt-1 pb-1 thm-btn me-auto rounded-pill">진행중</button></div>
                  <div class="content-detail-like like-right ms-auto"><a href="#" ><img src="../../static/images/longsiru/like-icon.png" alt="" style="width: 30px; height: 30px;"> 12</a></div>
                </div>
              </div>
              <div class="causes-one__progress">
                  <div class="bar">
                      <div class="bar-inner count-bar" data-percent="36%">
                          <div class="count-text">36%</div>
                      </div>
                  </div>
                  <div class="causes-one__goals">
                      <p>0%</p>
                      <p>100%</p>
                  </div>
              </div>
            </div>
          </div>
        
        
      </div>
    </div>
  </section>
  <!-- pagenation -->
  <div class="archive-pages">
		<ul>
				
				<li class="previous"><a href="#" title="previous page"></a></li>
				<li class="selected">1</li>
				<li><a href="#" title="Pagina 2">2</a></li>
				<li><a href="#" title="Pagina 3">3</a></li>
				<li><a href="#" title="Pagina 4">4</a></li>
				<li><a href="#" title="Pagina 5">5</a></li>
				<li class="next"><a href="#" title="next page"></a></li>
			</ul>
	</div>

	</th:block>

	<th:block layout:fragment="script-bottom">
	</th:block>
</body>
</html>