<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	rel="stylesheet"
	href="/css/longsiru/donated-board-detail.css"
/>
<link
	rel="stylesheet"
	href="/css/longsiru/admin-donation-request-detail.css"
/>
</head>
<body>
	<th:block layout:fragment="layout-content">
	
	<!--기부 완료 게시판 상세 시작-->
      <section class="news-details">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="news-details__left">
                <div class="col-12 mx-auto">
                  <div
                    class="swiper mySwiper position-relative overflow-hidden"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/104/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/53/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/840/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/338/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/18/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/87/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/77/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/38/1920/1080"
                          alt=""
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="https://picsum.photos/id/294/1920/1080"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="swiper-button-next">&gt;&gt;</div>
                    <div class="swiper-button-prev">&lt;&lt;</div>
                  </div>
                </div>

                <div class="causes-details__progress">
                  <div class="bar">
                    <div class="bar-inner count-bar" data-percent="100%">
                      <div class="count-text">100%</div>
                    </div>
                  </div>
                </div>
                <div class="news-details__content">
                  <div class="content-detail-nav">
                    <ul class="list-unstyled news-details__meta navleft">
                      <li><a href="#">2023-02-20</a></li>
                      <li class="content-detail-like">
                        <a href="#"
                          ><img
                            src="/images/longsiru/like-icon.png"
                            alt=""
                            style="width: 30px; height: 30px"
                          />
                          12</a
                        >
                      </li>
                    </ul>
                    <ul class="list-unstyled news-details__meta navright">
                      <li>기부 기관/개인 명</li>
                      <li>기관 지역</li>
                      <li>담당자명</li>
                    </ul>
                  </div>

                  <h3 class="news-details__title">
                    Donation is Hope for Poor Childrens in Africa
                  </h3>
                  <p class="news-details__text-one">
                    Tliq is notm hendr erit a augue insu image pellen tes que id
                    erat quis sollicitud. Lorem ipsum dolor sit amet,
                    consectetur adipiscing ullam blandit hendrerit faucibus
                    suspendisse. There are many variations of passages of Lorem
                    Ipsum available, but the majority have suffered alteration
                    in some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are going to use
                    a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                  <p class="news-details__text-two">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum ley
                    of type and scrambled it to make a type specimen book.
                  </p>
                  <p class="news-details__text-three">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including version.
                  </p>
                </div>

                <!--댓글 보기 시작-->
                <div class="comment-one">
                  <h3 class="comment-one__title">댓글 보기</h3>

                  <ul id="comments-list" class="comments-list">
                    <li>
                      <div class="comment-main-level">
                        <!-- Contenedor-->
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name">NickName</h6>
                            <div class="comment-time">2013-02-20 08:00am</div>
                          </div>
                          <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Velit omnis animi et iure laudantium vitae,
                            praesentium optio, sapiente distinctio illo?
                          </div>
                          <div class="comment-down">
                            <button class="comment-bnt">삭제</button>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="comment-main-level">
                        <!-- Contenedor-->
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name">NickName</h6>
                            <div class="comment-time">2013-02-20 08:00am</div>
                          </div>
                          <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Velit omnis animi et iure laudantium vitae,
                            praesentium optio, sapiente distinctio illo?
                          </div>
                          <div class="comment-down">
                            <button class="comment-bnt">삭제</button>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="comment-main-level">
                        <!-- Contenedor-->
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name">NickName</h6>
                            <div class="comment-time">2013-02-20 08:00am</div>
                          </div>
                          <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Velit omnis animi et iure laudantium vitae,
                            praesentium optio, sapiente distinctio illo?
                          </div>
                          <div class="comment-down">
                            <button class="comment-bnt">삭제</button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <!--댓글 작성 시작-->
                <div class="comment-form">
                  <h3 class="comment-form__title">댓글 작성</h3>
                  <form
                    action="assets/inc/sendemail.php"
                    class="comment-one__form contact-form-validated"
                  >
                    <div class="comment-form__input-box">
                      <textarea
                        name="message"
                        placeholder="create your comments"
                      ></textarea>
                    </div>

                    <button type="submit" class="thm-btn comment-form__btn">
                      제 출<i
                        class="fas fa-arrow-circle-right"
                        style="padding-left: 10px"
                      ></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 기부 완료 게시판 상세 끝-->

	</th:block>

	<th:block layout:fragment="script-bottom">
    <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
	</th:block>
</body>
</html>