<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	rel="stylesheet"
	href="/css/longsiru/donated-board-list.css"
/>
</head>
<body>
	<th:block layout:fragment="layout-content">
	
		<!--기부 완요 게판 페이지 시각-->
      <section class="news-page">
        <div class="container">
          <div class="row">
            <div class="m-5">
              <form class="input-group mb-3 w-25 mx-auto">
                <input type="text" class="form-control" placeholder="검색" />
                <button
                  class="btn"
                  type="button"
                  style="background-color: #20c097; color: #fff"
                >
                  검색
                </button>
              </form>
            </div>
            <div class="row hstack">
        		<div class="col-2 mb-5 ms-auto">
							<a class="btn" href="/donatedBoard/edit" style="background: var(--thm-primary); color: white;">기부 완료 게시판 등록</a>
        		</div>
        	</div>
        	
        	<th:block th:each="donationBoard, status: ${donationBoards.getContent()}">
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
            
              <!--News Two Single-->
              <div class="news-two__single">
                <div class="news-two__img-box">
                  <div class="news-two__img">
                    <img
                    th:src="${donationBoard.imgUrl}" th:alt="${donationBoard.subject}"
                    />
                    <a href="#">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                  <div class="news-two__date">
                    <p>[[${donationBoard.regTime}]]</p>
                  </div>
                </div>
                <div class="news-two__content">
                  <ul class="list-unstyled news-two__meta">
                    <li>
                      <a href="#"><i class="far fa-user-circle"></i>Admin</a>
                    </li>
                    <li><span>/</span></li>
                    <li><i th:text="${donationBoard.commentCount}" class="far fa-comments"></i></li>
                  </ul>
                  <h3 class="read-more">
                    <a th:href="'/donatedBoard/' +${donationBoard.id}">[[${donationBoard.subject}]]</a>
                  </h3>
                  <p class="news-two__text read-more">[[${donationBoard.content}]]</p>
                </div>
              </div>
              
            </div>
         </th:block>
          
          </div>
        </div>
      </section>
      <div class="archive-pages" th:with="start=${(donationBoards.number/maxPage) * maxPage + 1}
      , end=(${(donationBoards.totalPages== 0) ? 1 : (start + (maxPage - 1) < donationBoards.totalPages ? start + (maxPage -1) : donationBoards.totalPages)})">
        <ul>
          <li class="previous" th:classappend="${donationBoards.first}? 'disabled'"><a href="#" title="previous page" th:onclick="'javascript:page(' + ${donationBoards.number - 1} + ')'"></a></li>
          
          <li th:each="page: ${#numbers.sequence(start, end)}" 
          th:classappend="${donationBoards.number eq page-1} ? 'active':''"><a th:inline="text" th:onclick="'javascript:page(' + ${page - 1} + ')'">[[${page}]]</a></li>
          
          <li class="next" th:classappend="${donationBoards.last}? 'disabled'"><a href="#" title="next page" th:onclick="'javascript:page(' + ${donationBoards.number + 1} + ')'"></a></li>
        </ul>
      </div>
      <!--기부 완료 게시판 페이지 끝-->

	</th:block>

	<th:block layout:fragment="script-bottom">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#searchBtn").on("click", function(e) {
				e.preventDefault();
				page(0);
			});
		});
		function page(page) {
			var searchDateType = $("#searchDateType").val();
			var searchSellStatus = $("#searchSellStatus").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			location.href = "/admin/items/" + page + "?searchDateType="
					+ searchDateType + "&searchSellStatus=" + searchSellStatus
					+ "&searchBy=" + searchBy + "&searchQuery=" + searchQuery;
		}
	</script>
	</th:block>
</body>
</html>