@charset "UTF-8";


/* 페이징 hover 백그라운드 색상, 글씨 색상 변경 */
.pagination li:hover, .pagination a:hover{
	color: #fff;
}
.pagination a:hover{
	background-color: #20C097;
}


.btn-1{
	background-color: #fff;
	color:black;
	width: 140px;
	 height: 50px;
	 border-color: #000000;
}
.btn-2 {
	background-color: #fff;
	color:black;
		width: 140px;
	 height: 50px;
	 border-color: #000000;
}
.btn-3 {
	background-color: #fff;
	color:black;
		width: 140px;
	 height: 50px;
	 border-color: #000000;
}


.btn-1:hover {
	background-color: #4169E1;
	border-color: #fff;
}
.btn-2:hover {
	background-color: #15C8A0;
	border-color: #fff;
}
.btn-3:hover {
	background-color: #FE6262;
	border-color: #fff;
}

.privacy-tbl td{
	width: 200px;
	height: 70px;
	
}

.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.ad-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 49%;
}


.ad-btn {
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 175px;
    
}

.privacyinput{
	background-color: #F0F5F4;
}


.submit-btn {
    font-size: 18px;
    font-weight: 700;
    background-color: #15c8a0;
    color: #eeeff1;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 280px;
    
}



.archive-pages li a:hover {
  color: #000;
}
.archive-pages li.selected {
  color: white;
}
.archive-pages a,
.archive-pages a:visited {
  color: #555;
}
.archive-pages li.selected {
  text-align: center;
  color: white;
  padding: 5px;
  width: 50px;
  line-height: 40px;
  background: #15c8a0;
}
.archive-pages li.selected:hover {
  cursor: default;
  background: #15c8a0;
}
.archive-pages li:hover {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(196, 196, 196, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c4c4c4',GradientType=0 );
}
.archive-pages li a {
  cursor: pointer;
  line-height: 40px;
  display: block;
  padding: 5px;
  float: left;
  width: 50px;
  text-align: center;
}
.archive-pages {
  align-items: center;
  padding: 5px;
  margin-top: 30px;
  font-size: 0.9em;
}
.archive-pages ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.archive-pages li {
  border: 1px solid silver;
  float: left;
}
.archive-pages .first a,
.archive-pages .previous a,
.archive-pages .next a,
.archive-pages .last a {
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition-duration: 300ms;
  -webkit-transition-property: width, text-indent, letter-spacing;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 300ms;
  -moz-transition-property: width, text-indent, letter-spacing;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 300ms;
  -o-transition-property: width, text-indent, letter-spacing;
  -o-transition-timing-function: ease;
}
.archive-pages a {
  text-decoration: none;
}
.archive-pages .next a:after,
.archive-pages .last a:after {
  content: " »";
}
.archive-pages .first a:before,
.archive-pages .previous a:before {
  content: "« ";
}
.archive-pages .first a:hover,
.archive-pages .previous a:hover,
.archive-pages .next a:hover,
.archive-pages .last a:hover {
  width: 100px;
  text-indent: 0;
  letter-spacing: 0px;
}
.archive-pages .first a {
  text-indent: +6px;
  letter-spacing: 10px;
}
.archive-pages .previous a {
  text-indent: +7px;
  letter-spacing: 10px;
}
.archive-pages .next a {
  letter-spacing: 10px;
}
.archive-pages .last a {
  text-indent: -154px;
  letter-spacing: 10px;
}

